# Ignore everything
*

# But not these files...
!.gitignore
!aliases
!fstab
!gitweb.conf
!hosts
!hostname

!Backup/
!Backup/Bk-10-Source.conf

!cron.daily/
!cron.daily/Bk-10-Source
!cron.daily/Bk-20-aws-changes
!cron.daily/LAM-apt-get-update

!default/
!default/motd-news

!dovecot/
!dovecot/conf.d/
!dovecot/conf.d/10-master.conf

!postfix/
!postfix/main.cf

!ssh/
!ssh/sshd_config
!ssh/Banner.txt

!update-motd.d/
!update-motd.d/10-help-text
!update-motd.d/51-cloudguest

