# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!aliases
!crontab
!fstab
!gitweb.conf
!hosts
!hostname

!Backup/
!Backup/Bk-10-Source.conf
!Backup/Bk-94-blinkenshell.conf
!Backup/Bk-96-Zz.conf
!Backup/Bk-98-git.conf

!Backup/Daily-ubuntu/
!Backup/Daily-ubuntu/Bk-94-blinkenshell
!Backup/Daily-ubuntu/Bk-96-Zz
!Backup/Daily-ubuntu/Bk-98-git

!cron.daily/
!cron.daily/Bk-10-Source
!cron.daily/Bk-20-aws-changes
!cron.daily/LAM-apt-get-update

!default/
!default/motd-news

!dovecot/
!dovecot/conf.d/
!dovecot/conf.d/10-master.conf

!postfix/
!postfix/main.cf

!ssh/
!ssh/sshd_config
!ssh/Banner.txt

!update-motd.d/
!update-motd.d/10-help-text
!update-motd.d/51-cloudguest

